.alice-slider-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    
}

.sliderimg {
    width: 100%; 
    height: 401px; 
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
}

.thumbnail {
    width: 100px; 
    height: auto; 
    margin: 0 5px; 
    cursor: pointer; 
    position: relative; 
}

.thumbnail img {
    width: 100%; 
}

.inactive {
    opacity: 0.5; 
}

.inactive::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 4px;
}
