.breadcrumb-main-container {
    display: flex;
    width: 100%;
    height: max-content;
}

.bread-crumb-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 24px 0px 0 0px;
    list-style: none;
}

.bread-crumb-list li a {
    color: var(--text-primary);
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .bread-crumb-list {
        gap: 5px;
        padding: 0 10px;
    }

    .bread-crumb-list.hide-breadcrumb {
        display: none;
    }

    .bread-crumb-list li a {
        font-size: 9px;
    }

    ol li span {
        font-size: 8px;
    }
}

.bread_links_sub {
    padding: 6px 10px;
    border-radius: 5px;
}

.bread_links :hover {
    background-color: #F5F9FC;
    /* color: var(--tertiary-color); */
    color: var(--text-primary);
}

.active-last-bread-link {
    background-color: #F5F9FC;
    /* color: var(--tertiary-color); */
    color: var(--text-primary);
}

.bread_links_sub.active {
    /* color: var(--quaternary-color); */
    color: var(--text-primary);
    font-weight: 600;
}