.customer-photos-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f7f7f7;
    gap: 16px;
}

.customer-photos-main-container h3{
    font-size: 25px;
    font-weight: 600;
    line-height: var(--heading-line-height);
    color: var(--text-primary);
}

.slider-container {
    position: relative;
    width: 100%; /* 5 images * 220px each */
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
  }
  
  .slide-image {
    width: 190px;
    height: 190px;
    flex-shrink: 0;
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .customer-slider-arrow {
    background: none;
    border: none;
    top: 50%;
    cursor: pointer;
    z-index: 9;
    position: absolute;
    background-color: var(--text-primary);
    border-radius: 26px;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .customer-slider-arrow svg {
    width: 26px;
    height: 26px;
  }
  
  .customer-slider-arrow:first-of-type {
    left: 10px;
  }
  
  .customer-slider-arrow:last-of-type {
    right: 10px;
  }
    
@media only screen and (max-width: 480px){
  .customer-photos-main-container{
    background-color: #fff;
  }
  .customer-photos-main-container h3{
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-primary);
  }
  .customer-slider-arrow img {
      width: auto;
      height: 30px;
      object-fit: contain;
  }
  .slider-container{
    padding: 0;
  }
  .slide-image {
      width: auto;
      height: 100px;
      flex-shrink: 0;
      cursor: pointer;
      object-fit: cover;
  }
}