.customer-comments-main-container{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-background);
    padding: var(--inner-padding);
    gap: 16px;
}

.customer-comments-main-container.show-customer-comments-main-container{
    display: flex;
}

@media only screen and (max-width: 480px){
    .customer-comments-main-container{
        padding: 10px 0px;
        background-color: #fff;
    }
}