.App{
    display: flex;
    flex-direction: column;
    background:transparent;
}

/* .main_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
} */

.main_body > canvas{
  position: fixed !important;
}

/* App.css */
.scroll-to-top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    padding: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #edf1f3;
    cursor: pointer;
    z-index: 999999;
    max-height: max-content;
    animation: float 3s ease-in-out infinite;
    transition: all 0.3s;
}

.scroll-to-top-button.show-scrollTop{
  opacity: 1;
  visibility: visible;
}

.lead-to-top-btn{
  transition: all 0.3S ease-in-out;
  /* width: 100%; */
  height: 30px;
  object-fit: cover;
  color: var(--secondary-color);
}

.lead-to-top-btn:hover{
  transform: scale(1.2);
}

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
  }
