.global_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Start scaled down */
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hidden by default */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s; /* Set a delay on visibility */
    background-color: white;
    height: auto;
    width: 50%;
    border-radius: 14px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    gap: 10px;
}

.global_modal {
    visibility: visible; /* Make visible */
    opacity: 1; /* Fade in */
    transform: translate(-50%, -50%) scale(1); /* Scale to normal size */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s; /* Remove visibility delay */
}

/* Same other styles for header, footer, and buttons */


.global_modal > .header_popup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_popup > .title{
    font-size: 21px;
    color: var(--text-color);
    font-weight: 500;
}

.header_popup > .close-btn-modal:hover{
    color: var(--tertiary-color);
}

.header_popup > .close-btn-modal > svg{
   height: 30px;
   width: auto;
}

.warranty_modal_content{
    width: 100%;
    height: 100px;
    /* background-color: red; */
}

.footer_popup{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.close_button_footer {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.3s ease; /* Smooth transition for all properties */
  }
  
  .close_button_footer:hover {
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
  }
  
  .accept_button_footer {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid var(--text-color);
    color: #fff;
    border-radius: 4px;
    background-color: var(--text-color);
    transition: all 0.3s ease; /* Smooth transition for all properties */
  }
  
  .accept_button_footer:hover {
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
  }
  

  .warranty_modal_content > p{
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
  }



  .spinthewheel-overlay{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.1); */
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px); /* This adds the blur effect */
    z-index: 1000;
    flex-direction: column;
  }

@media only screen and (max-width: 480px){
  .global_modal {
    width: 95%;
  }
}