.furniture-for-budget-main-card-shimmer{
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px #0000001A;
    height: auto;
}

.furniture-for-budget-card-image-shimmer{
    width: 100%;
    height: 319px;
    background-color: #f0f0f0;
    position: relative;
}

.furniture-for-budget-card-image-shimmer::before{
    content: "";
    position: absolute;
    top: 0;
    left: -150%; /* Start off-screen */
    height: 100%;
    width: 150%; /* Width of the shimmer gradient */
    background: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(240, 240, 240, 0) 100%);
    animation: shimmer 1.5s infinite;
}

.furniture-for-budget-title-shimmer{
    width: 220px;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.furniture-for-budget-button-shimmer{
    width: 180px;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}