/* .cart-product{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 170px;
    padding: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    gap: 10px;
    position: relative;
}

.mobile-cart-remove-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.mobile-cart-remove-btn img{
    height: 20px;
    width: auto;
    object-fit: contain;
}

.cart-item-name{
    display: flex;
    width: 100%;
    gap: 10px;
}

.cart-item-name  h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    color: var(--text-primary);
}

.cart-item-name button{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cart-item-name button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-product-containt{
    display: flex;
    gap: 10px;
    padding: 5 0;
    width: 100%;
}

.cart-item-image{
    width: auto;
    height: 90px;
}

.cart-item-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.cart-product-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.cart-product-details p{
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-primary);
}

.price-and-count{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.price-and-count p{
    font-size: 0.88rem;
    font-weight: 500;
    color: var(--text-primary);
}

.product-count{
    display: flex;
    align-items: center;
    background-color: var(--hover-btn-bg);
    width: 4.75rem;
    height: 1.50rem;
    border-radius: 25px;
    justify-content: space-between;
    color: var(--text-white);
}

.product-count p{
    padding: 2px 7px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

.product-count button{
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-item-actual-price{
    display: flex;
    width: 100%;
    justify-content: end;
}

.cart-item-actual-price p{
    font-size: 0.94rem;
    font-weight: 600;
    color: var(--text-primary);
}

.desktop-cart-product{
    display: none;
    width: 100%;
    height: max-content;
    max-height: max-content;
    gap: 10px;
    padding: 15px;
}

.desktop-cart-product.hide-desktop-cart{
    display: none;
}

.desktop-cart-product:nth-last-child(1){
    border-bottom: none !important;
}

.desktop-cart-product-image{
    display: flex;
    width: auto;
    max-width: 200px;
    height: 100%;
}

.desktop-cart-product-image img {
    width: 100%;
    height: auto;
}

.desktop-cart-containt-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
    justify-content: space-between;
    position: relative;
}

.desktop-cart-content-section-one{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.desktop-cart-product-content-section-two{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.cross-btn{
    position: absolute;
    top: 1px;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.cross-btn.hide-cross-btn{
    display: none;
}


.desktop-name-and-single-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.desktop-name-and-single-price > h3{
    min-height: 36px;
    font-size: var(--sub-section-size);
    font-weight: var(--sub-section-weight);
    line-height: var(--sub-section-height);
    color: var(--text-primary);
}

.cart-item-sku-tag{
    font-size: var(--attribute-size) !important;
    line-height: var(--attribute-height) !important;
    font-weight: var(--attribute-weight) !important;
    color: var(--text-primary) !important;
}

.desktop-product-extra-info{
    font-size: var(--attribute-size) !important;
    line-height: var(--attribute-height) !important;
    font-weight: var(--attribute-weight) !important;
    color: var(--text-primary) !important;
}

.cart-side-section-price-and-count > span {
    display: flex;
    align-items: center;
    justify-content: start;
    width: max-content;
    gap: 5px;
}

.cart-side-section-price-and-count > p{
    font-size: var(--sub-section-size) !important;
    font-weight: var(--sub-section-weight) !important;
    line-height: var(--sub-section-height) !important;
    color: var(--text-primary) !important;
    opacity: 0.5;
}

.cart-side-section-price-and-count > span > p:nth-child(1){
    

    font-size: var(--section-size) !important;
    font-weight: var(--section-weight) !important;
    line-height: var(--section-height) !important;
    color: var(--text-red) !important;
    opacity: 1;
}

.cart-side-section-price-and-count span > p{
    font-size: var(--sub-section-size) !important;
    font-weight: var(--sub-section-weight) !important;
    line-height: var(--sub-section-height) !important;
    color: var(--text-primary) !important;
    opacity: 0.5;
}

.cart-side-section-price-and-count > p:nth-child(1){
    

    font-size: var(--section-size) !important;
    font-weight: var(--section-weight) !important;
    line-height: var(--section-height) !important;
    color: var(--text-red) !important;
    opacity: 1;
}

.desktop-card-protection-div{
    display: flex;
    width: max-content;
    padding: 10px;
    gap: 15px;
    height: auto;
    background-color: #FAFAFA;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
}

.guard-and-heading{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.protection-guard-icon{
    width: 20px;
    height: auto;
    object-fit: contain;
}

.guard-title-and-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.protection-guard-title{
    font-size: 13px;
    line-height: 1.2;
    font-weight: var(--sub-section-weight) !important;
    color: var(--text-primary);
    flex-shrink: 0;

}
.eye_icon.active{
    color: var(--orange-fill);
}
.guard-title-and-details-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.protection-details-and-message{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0px;
    width: 170px;
}
.detail-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.detail-container.open {
    max-height: 200px; 
}

.protection-details{
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-primary);
    border-right: 1px solid #F0F0F0;
    padding-right: 10px;
}

.protection-price-message{
    font-size: 13px;
    line-height: 1.2;
    font-weight: var(--content-one-weight) !important;
    color: var(--text-primary) !important;
}


.protection-btns-accept-and-cancel{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.protection-buttons{
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 30px;
    width: max-content;
    border: 1px solid #fff;
    color: var(--text-primary);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.protection-buttons.select-not-protection{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #fff;
}

.protection-buttons.selected-yes-protect{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #fff;
}

.protection-buttons:hover{
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
}


.desktop-name-and-single-price p{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: var(--orange-fill);
}

.protect-product-tag{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
    width: 136px;
    height: 30px;
    padding: 4px 8px;
    border-radius: 25px;
    border: 1px solid var(--border-color);
    background-color: #fafafa;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.protect-product-tag.protect-tick{
    background-color: #2580C8;
    color: #fff;
}

.desktop-quantity-and-save-for-leter{
    display: flex;
    height: 100%;
    width: max-content;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.desktop-quantity-and-save-for-leter.hide-quantity{
    display: none;
}

.desktop-quantity{
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 1px solid var(--orange-outline);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.cart-minus-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.cart-plus-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.cart-minus-icon {
    color: var(--text-gray);
}

.cart-minus-button:hover {
    background-color: var(--orange-fill);
}
.cart-plus-button:hover {
    background-color: var(--orange-fill);
}

.cart-minus-button:hover .cart-minus-icon {
    color: var(--text-oposite);
}
.cart-plus-button:hover .cart-plus-icon {
    color: var(--text-oposite);
}

.cart-product-quantity{
    display: flex;
    padding: 0 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--orange-outline);
    border-right: 1px solid var(--orange-outline);
    margin: 0 !important;
    color: var(--text-gray);
}

.cart-product-card-total-price{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 10px;
}

.single-product-protection-plan-details {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: max-content;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.single-product-protection-plan-details > p {
    font-size: 10px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
    color: #595959 !important;
    opacity: 0.5 !important;
}

.save-for-leter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
    padding: 0px 5px;
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    font-size: var(--content-one-size);
    text-decoration: underline;
    font-weight: var(--content-one-weight);
    line-height: var(--content-one-height);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 35px;
}

.save-for-leter img{
    width: auto;
    height: 15px;
    object-fit: contain;
}

.arrow-rotate {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.desktop-total-price-and-remove-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: end;
    justify-content: end;
    gap: 0px;
    margin-top: 10px;
}

.desktop-total-price-and-remove-item.hide-total-and-remove-item{
    display: none;
}

.cart-open-quantity-and-total-price{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 100%;
}

.cart-open-total-price{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: var(--orange-fill);
    margin-right: 20px;
}

.cart-close-quantity-and-total-price{
    display: none;
}

.desktop-total-price-and-remove-item > p{
    font-size: var(--section-size);
    font-weight: var(--section-weight);
    line-height: var(--section-height);
    color: var(--text-primary);
    margin-right: 20px;
}

.remove-item-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.remove-item-button img{
    height: 22px;
    width: auto;
    object-fit: cover;
}

.remove-item-button p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
}

.protection-all-protected{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.protection-all-protected img{
    height: 22px;
    width: 22px;
}

.protection-all-protected p{
    margin: 0 0 0 5px;
    font-size: 10.5px;
    color: var(--secondary-color);
    padding: 0;
    font-style: italic;
    font-weight: 300;
    line-height: 18px;
}

@media only screen and (min-width: 481px){
    .cart-product{
        display: none;
    }
    .desktop-cart-product{
        display: flex;
    }
}


@media only screen and (min-width: 481px) and (max-width: 780px) {
    .desktop-cart-product-name{
        width: 62%;
        align-items: flex-start;
    }

    .desktop-quantity-and-new-price{
        display: flex;
        flex-direction: column;
        width: 38%;
        gap: 10px;
        align-items: flex-end;
    }

    .desktop-quantity{
        width: 100px;
        height: 40px;
    }
    
    .desktop-quantity button{
        height: 40px;
    }
    
    .desktop-quantity p{
        padding: 0 10px;
        height: 40px;
    }
} */


.cart-product{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 170px;
    padding: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    gap: 10px;
    position: relative;
}

.mobile-cart-remove-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.mobile-cart-remove-btn img{
    height: 20px;
    width: auto;
    object-fit: contain;
}

.cart-item-name{
    display: flex;
    width: 100%;
    gap: 10px;
}

.cart-item-name  h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    color: var(--text-primary);
}

.cart-item-name button{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cart-item-name button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-product-containt{
    display: flex;
    gap: 10px;
    padding: 5 0;
    width: 100%;
}

.cart-item-image{
    width: auto;
    height: 90px;
}

.cart-item-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.cart-product-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.cart-product-details p{
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-primary);
}

.price-and-count{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.price-and-count p{
    font-size: 0.88rem;
    font-weight: 500;
    color: var(--text-primary);
}

.product-count{
    display: flex;
    align-items: center;
    background-color: var(--hover-btn-bg);
    width: 4.75rem;
    height: 1.50rem;
    border-radius: 25px;
    justify-content: space-between;
    color: var(--text-white);
}

.product-count p{
    padding: 2px 7px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

.product-count button{
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-item-actual-price{
    display: flex;
    width: 100%;
    justify-content: end;
}

.cart-item-actual-price p{
    font-size: 0.94rem;
    font-weight: 600;
    color: var(--text-primary);
}

/* Large Screen cart styling */
.desktop-cart-product{
    display: none;
    width: 100%;
    height: max-content;
    max-height: max-content;
    gap: 10px;
    padding: 15px;
}

.desktop-cart-product.hide-desktop-cart{
    display: none;
}

.desktop-cart-product:nth-last-child(1){
    border-bottom: none !important;
}

.desktop-cart-product-image{
    display: flex;
    width: 25%;
    max-width: 200px;
    /* height: 133px; */
    height: 100%;
}

.desktop-cart-product-image img {
    width: 100%;
    height: auto;
}

.desktop-cart-containt-section{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
    justify-content: space-between;
    position: relative;
}

.desktop-cart-content-section-one{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.desktop-cart-product-content-section-two{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.cross-btn{
    position: absolute;
    top: 1px;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.cross-btn.hide-cross-btn{
    display: none;
}

.desktop-name-and-single-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.desktop-name-and-single-price > h3{
    min-height: 36px;
    font-size: var(--sub-section-size);
    font-weight: var(--sub-section-weight);
    line-height: var(--sub-section-height);
    color: var(--text-primary);
}

.cart-item-sku-tag{
    font-size: var(--attribute-size) !important;
    line-height: var(--attribute-height) !important;
    font-weight: var(--attribute-weight) !important;
    color: var(--text-primary) !important;
}

.desktop-product-extra-info{
    font-size: var(--attribute-size) !important;
    line-height: var(--attribute-height) !important;
    font-weight: var(--attribute-weight) !important;
    color: var(--text-primary) !important;
}

.cart-side-section-price-and-count > span {
    display: flex;
    align-items: center;
    justify-content: start;
    width: max-content;
    gap: 5px;
}

.cart-side-section-price-and-count > p{
    font-size: var(--sub-section-size) !important;
    font-weight: var(--sub-section-weight) !important;
    line-height: var(--sub-section-height) !important;
    color: var(--text-primary) !important;
    opacity: 0.5;
}

.cart-side-section-price-and-count > span > p:nth-child(1){
    

    font-size: var(--section-size) !important;
    font-weight: var(--section-weight) !important;
    line-height: var(--section-height) !important;
    color: var(--text-red) !important;
    opacity: 1;
}

.cart-side-section-price-and-count span > p{
    font-size: var(--sub-section-size) !important;
    font-weight: var(--sub-section-weight) !important;
    line-height: var(--sub-section-height) !important;
    color: var(--text-primary) !important;
    opacity: 0.5;
}

.cart-side-section-price-and-count > p:nth-child(1){
    

    font-size: var(--section-size) !important;
    font-weight: var(--section-weight) !important;
    line-height: var(--section-height) !important;
    color: var(--text-red) !important;
    opacity: 1;
}


/* Protection */
.desktop-card-protection-div{
    display: flex;
    /* flex-direction: column; */
    width: max-content;
    padding: 10px;
    gap: 15px;
    height: auto;
    background-color: #FAFAFA;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    position: relative;
}

.protect-single-product-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
}

.guard-and-heading{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
    position: relative;
}

.protection-guard-icon{
    /* width: 28px; */
    width: 20px;
    height: auto;
    object-fit: contain;
}

.guard-title-and-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.protection-guard-title{
    font-size: 13px;
    line-height: 1.2;
    font-weight: var(--sub-section-weight) !important;
    color: var(--text-primary);
    flex-shrink: 0;

}
.eye_icon.active{
    color: var(--orange-fill);
}
.guard-title-and-details-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.protection-details-and-message{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0px;
    width: 170px;
}
.detail-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.detail-container.open {
    max-height: 200px; /* Adjust to a reasonable maximum height for your content */
}

.protection-details{
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-primary);
    border-right: 1px solid #F0F0F0;
    padding-right: 10px;
}

.protection-price-message{
    font-size: 13px;
    line-height: 1.2;
    font-weight: var(--content-one-weight) !important;
    color: var(--text-primary) !important;
}


.protection-btns-accept-and-cancel{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}



.protection-buttons{
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 30px;
    width: max-content;
    border: 1px solid #fff;
    color: var(--text-primary);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.protection-buttons.select-not-protection{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #fff;
}

.protection-buttons.selected-yes-protect{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #fff;
}

.protection-buttons:hover{
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
}

/* Protection End */

.desktop-name-and-single-price p{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: var(--orange-fill);
}

.protect-product-tag{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
    width: 136px;
    height: 30px;
    padding: 4px 8px;
    border-radius: 25px;
    border: 1px solid var(--border-color);
    background-color: #fafafa;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.protect-product-tag.protect-tick{
    background-color: #2580C8;
    color: #fff;
}

.desktop-quantity-and-save-for-leter{
    display: flex;
    height: 100%;
    width: max-content;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.desktop-quantity-and-save-for-leter.hide-quantity{
    display: none;
}

.desktop-quantity{
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    /* border: 1px solid #2F7A97; */
    border: 1px solid var(--orange-outline);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.cart-minus-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.cart-plus-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.cart-minus-icon {
    color: var(--text-gray);
}

.cart-minus-button:hover {
    background-color: var(--orange-fill);
}
.cart-plus-button:hover {
    background-color: var(--orange-fill);
}

.cart-minus-button:hover .cart-minus-icon {
    color: var(--text-oposite);
}
.cart-plus-button:hover .cart-plus-icon {
    color: var(--text-oposite);
}

.cart-product-quantity{
    display: flex;
    padding: 0 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border-left: 1px solid #2F7A97; */
    border-left: 1px solid var(--orange-outline);
    /* border-right: 1px solid #2F7A97; */
    border-right: 1px solid var(--orange-outline);
    margin: 0 !important;
    color: var(--text-gray);
}

.cart-product-card-total-price{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 10px;
}

.single-product-protection-plan-details {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: max-content;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.single-product-protection-plan-details > p {
    font-size: 10px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
    color: #595959 !important;
    opacity: 0.5 !important;
}

.save-for-leter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
    padding: 0px 5px;
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    font-size: var(--content-one-size);
    text-decoration: underline;
    font-weight: var(--content-one-weight);
    line-height: var(--content-one-height);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 35px;
}

.save-for-leter img{
    width: auto;
    height: 15px;
    object-fit: contain;
}

.arrow-rotate {
    animation: rotate 1s linear infinite;
}

/* Define the keyframes for the rotation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.desktop-total-price-and-remove-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: end;
    justify-content: end;
    gap: 0px;
    margin-top: 10px;
}

.desktop-total-price-and-remove-item.hide-total-and-remove-item{
    display: none;
}

.cart-open-quantity-and-total-price{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 100%;
}

.cart-open-total-price{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: var(--orange-fill);
    margin-right: 20px;
}

.cart-close-quantity-and-total-price{
    display: none;
}

.desktop-total-price-and-remove-item > p{
    font-size: var(--section-size);
    font-weight: var(--section-weight);
    line-height: var(--section-height);
    color: var(--text-primary);
    margin-right: 20px;
}

.remove-item-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.remove-item-button img{
    height: 22px;
    width: auto;
    object-fit: cover;
}

.remove-item-button p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
}

.protection-all-protected{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.protection-all-protected img{
    height: 22px;
    width: 22px;
}

.protection-all-protected p{
    margin: 0 0 0 5px;
    font-size: 10.5px;
    color: var(--secondary-color);
    padding: 0;
    font-style: italic;
    font-weight: 300;
    line-height: 18px;
}
/* Media Queries */

/* Hide and show componennts according to screen */

@media only screen and (min-width:768px) and (max-width: 1023px) {
    .desktop-name-and-single-price > h3 {
        font-size: 14px !important;
        line-height: 1.2 !important;
    }
    .cart-item-sku-tag {
        font-size: 10px !important;
    }
    .desktop-product-extra-info {
        font-size: 10px !important;
    }
    .cart-side-section-price-and-count span > p {
        font-size: 12px !important;
    }
    .cart-side-section-price-and-count > span > p:nth-child(1) {
        font-size: 15px !important;
    }
    .desktop-quantity {
        width: 110px !important;
        height: 35px !important;
    }
    .cart-product-quantity {
        padding:  0 15px;
    }
    .desktop-total-price-and-remove-item > p {
        font-size: 15px !important;
    }
    .single-product-protection-plan-details > p {
        font-size: 8px !important;
    }
    .save-for-leter {
        align-items: start !important;
        justify-content: start !important;
        line-height: 1 !important;
    }
    .desktop-total-price-and-remove-item {
        margin-top: 0 !important;
    }
}

@media only screen and (min-width: 599px){
    .cart-product{
        display: none;
    }
    .desktop-cart-product{
        display: flex;
    }
}

