.share-product-link-pop-up-main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    padding: 15px;
    justify-content: center;
    z-index: 999999999999;
}

.share-product-link-pop-up-main.show-product-share-pop-up {
    display: flex;
    backdrop-filter: blur(5px);
    background-color: transparent;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */

}

.share-product-link-pop-up-inner {
    width: 626px;
    height: 316px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    justify-content: space-between;
    backdrop-filter: blur(50px);
    /* Subtle background blur */
    /* background: rgba(255, 255, 255, 0.1); */
    background-color: #ffffff;
    /* Light white overlay with transparency */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(50px);
    /* For Safari support */
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    /* color: #FFFFFF !important; */
}

.share-product-link-pop-up-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: max-content;
    height: max-content;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* .share-product-link-pop-up-close-btn img {
    width: 100%;
    height: auto;
    object-fit: contain;
} */

/* selected product styling */
.share-product-selected-product-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.shared-products-product-name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: var(--text-primary);
}

.shared-product-sku {
    font-size: 11px;
    line-height: 12px;
    font-weight: 400;
    color: var(--text-primary);
}

.shared-product-brand-name {
    font-size: 11px;
    line-height: 12px;
    font-weight: 400;
    color: var(--text-primary);
}

.share-product-popup-product-div {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: start;
    justify-content: start;
    gap: 10px;
    margin-top: 25px;
}

.share-product-selected-product-main-img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.share-product-selected-product-regural-price {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    /* color: var(--text-primary); */
    color: #FFFFFF !important;
}

.share-product-selected-product-rating {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.share-product-selected-product-rating img {
    width: 14px;
    height: auto;
    object-fit: contain;
}

.share-product-selected-product-rating p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: var(--text-primary);
}

.share-product-selected-product-regular-and-sale-price {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.share-product-selected-product-regular-and-sale-price del {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--text-primary);
    opacity: 0.5;
}

.share-product-selected-product-regular-and-sale-price h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: var(--text-primary);
}

/* selected product social share flat forms */
.share-product-social-platforms {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.share-product-single-social-platform {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.share-product-single-social-platform img {
    width: 38px;
    height: auto;
    object-fit: contain;
}

.share-product-single-social-platform p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--text-primary);
}

/* link generator  */
.share-product-generated-link-main-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    gap: 10px;
    border: 1px solid var(--text-primary);
    border-radius: 10px;
}

.share-product-generated-link {
    display: flex;
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    outline: none;
}

.share-product-link-generator-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    gap: 10px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: var(--text-primary);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.share-product-link-generator-btn.share-products-copy-btn {
    background: #77DE8A33;
    color: #4CAF50;
    ;
}

.share-product-link-generator-btn img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

.bg-blur-container {
    display: none;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(50%, -50%); */
    backdrop-filter: blur(5px);
    width: 93%;
    padding: 10px;
    height: 250px;
    border-radius: 10px;
    gap: 15px;
    backdrop-filter: blur(50px);
    /* background-color: orange; */
    background: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 480px) {
    .share-product-link-pop-up-main.show-product-share-pop-up {
        display: flex;
        padding: 10px;
        backdrop-filter: blur(5px);
        background-color: transparent;
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    }

    .bg-blur-container {
        display: flex;
    }

    .share-product-link-pop-up-inner {
        width: 98%;
        padding: 10px;
        height: max-content;
        gap: 10px;
        backdrop-filter: blur(0px);
        /* background: rgba(255, 255, 255, 0.0); */
        /* background-color: transparent; */
    }

    .share-product-link-pop-up-close-btn {
        top: 10px;
        right: 10px;
        width: 15px;
        line-height: 15px;
    }

    .share-product-social-platforms {
        gap: 10px;
    }

    .share-product-single-social-platform>a>svg {
        width: 25px;
        height: 25px;
    }

    .share-product-generated-link-main-div {
        padding: 5px !important;
    }

    .share-product-selected-product-main-img {
        width: 130px;
    }

    .share-product-generated-link {
        font-size: 12px;
        line-height: 1.5;
        font-weight: 500;
        padding: 5px !important;
    }

    .share-product-link-generator-btn {
        gap: 5px;
        padding: 5px;
        width: max-content;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 500;
        border-radius: 5px;
    }

    .share-product-link-generator-btn img {
        width: 18px;
    }

    .shared-product-sku {
        font-size: 8px;
        font-weight: 500;
    }

    .shared-product-sku > span {
        font-weight: 600;
    }

    .shared-product-brand-name {
        font-size: 8px;
        font-weight: 500;
    }

    .shared-product-brand-name>span {
        font-weight: 600;

    }

    .share-product-selected-product-regular-and-sale-price {
        gap: 5px;
    }

    .share-product-selected-product-regular-and-sale-price del {
        font-size: 12px;
        line-height: 1.5;
        font-weight: 500;
    }

    .share-product-selected-product-regular-and-sale-price h3 {
        font-size: 15px;
        line-height: 1.5;
        font-weight: 600;
        color: var(--text-primary);
    }

    .share-product-selected-product-details{
        gap: 3px;
    }
}