.near-store-pop-up{
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999999999999;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.near-store-pop-up.show{
    visibility: visible;
    opacity: 1;
}


.near-store-container{
    display: flex;
    flex-direction: column;
    width: 430px;
    /* overflow-y: auto;
    overflow-x: hidden; */
    flex-wrap: nowrap;
    top: 0;
    right: -430px;
    height: 100%;
    position: absolute;
    z-index: 99999999999999999;
    background-color: var(--text-white);
    color: white;
    transition: all 0.5s ease-in-out;
}

.near-store-container.show-near-store-inner-container{
    right: 0;
}

.near-store-container::-webkit-scrollbar {
  width: 4px; /* Slim width */
  height: 4px; /* Slim height for horizontal scrollbar */
}

/* Style the scrollbar track */
.near-store-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb */
.near-store-container::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray for the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb on hover */
.near-store-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker shade on hover */
}



.pop-up-header{
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    height: max-content;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
    color: var(--text-primary);
}


.pop-up-header i{
    background-color: var(--text-white);
    /* padding: 11px 13px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.pop-up-header i img{
    width: auto;
    height: auto;
    object-fit: contain;
}

.pop-up-header h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 13px;
}

.pop-up-header-search{
    display: flex;
    width: 100%;
    height: 48px;
    background-color: white;
    align-items: center;
    border: 1px solid var(--orange-outline);
    /* padding: 11px 12px; */
    gap: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    margin-top: 32px;
    margin-bottom: 20px;
    overflow: hidden;
}
.pop-up-header-search input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-primary);
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    padding: 0 10px;
}

.header-search-button{
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    border-left: 1px solid var(--orange-outline);
    background-color: var(--orange-fill);
}

/* .pop-up-header-search img{
    width: 22px;
    height: 22px;
} */

.pop-up-header-location{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.current-location-button{
    width: max-content;
    /* height: 40px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--orange-outline);
    background-color: var(--orange-fill);
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: var(--text-oposite);
    cursor: pointer;
    transition: all 0.3s ease;
}

.current-location-button:hover{
    background-color: var(--orange-fill);
    border: 1px solid var(--orange-outline);
    color: var(--text-oposite);
}

.delivery-zip-button{
    /* width: 105px;
    height: 40px; */
    width: max-content;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid var(--orange-outline);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: var(--text-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 5px; */
    transition: all 0.3s ease;
}

.delivery-zip-button:hover{
    /* background-color: var(--text-primary);
    border: 1px solid var(--text-primary);
    color: #FFFFFF; */
    /* background-color: rgba(89, 89, 89, 0.2); */
    background-color: var(--orange-fill);
    color: var(--text-oposite);
    border: 1px solid var(--orange-outline);
}

/* .pop-up-header-location p{
    font-size: 14px;
    line-height: 24px;
    color: var(--orange-fill);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 8px;

} */

/* .pop-up-header-location p a{
    color: var(--orange-fill);
} */

@media only screen and (max-width: 1200px){
    .pop-up-header-location p{
        font-size: 12px;
        line-height: 16px;
        color: var(--orange-fill);
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0 8px;
    }
    
    .pop-up-header-location p a{
        color: var(--orange-fill);
    }
}

.pop-up-single-city-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    /* height: 100%; */
    /* position: sticky; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
    padding: 24px 30px;
    border-bottom: 1px solid var(--border-color);
}

.pop-up-single-city-card::-webkit-scrollbar {
  width: 4px; /* Slim width */
  height: 4px; /* Slim height for horizontal scrollbar */
}

/* Style the scrollbar track */
.pop-up-single-city-card::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb */
.pop-up-single-city-card::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray for the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb on hover */
.pop-up-single-city-card::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker shade on hover */
}

.pop-up-single-city-cart{
    display: flex;
    width: 100%;
    color: var(--text-primary);
    align-items: center;
    gap: 16px;
}

.pop-up-single-city-cart h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.pop-up-city-and-distance{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: var(--text-primary);
}

.near-stores-current-store {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0px 10px 20px 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.other-nearby-stores {
    cursor: pointer;
}

.pop-up-city-and-distance span{
    display: flex;
    align-items: center;
    color: var(--text-primary);
    gap: 20px;
}

.near-store-popup-accordion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.near-store-popup-accordion-icon.rotate-btn {
    transform: rotate(45deg);
}



/* .pop-up-city-and-distance span img{
    width: 30px;
    height: 30px;
    cursor: pointer;
} */

/* .pop-up-city-and-distance.rotate-btn span img{
    transform: rotate(45deg);
} */

.pop-up-city-and-distance span h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.pop-up-city-and-distance p{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.pop-up-store-open-time{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0 50px;
}

.pop-up-store-open-time p{
    color: var(--text-primary);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.pop-up-store-open-time span{
    color: var(--orange-fill);
}

.pop-up-complete-address{
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    padding: 10px 0 0 50px;
}

.pop-up-complete-address p{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 5px;
}

.pop-up-complete-address a{
    text-decoration: none;
    color: var(--text-primary);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.pop-up-complete-address a:last-child{
    text-decoration: underline;
}

.pop-up-store-open-days-and-time{
    display: flex;
    visibility: hidden;
    transform: translateY(100%);
    opacity: 0;
    width: 100%;
    height: 0px;
    /* padding: 10px 50px; */
    color: var(--text-primary);
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.pop-up-store-open-days-and-time.open-store{
    height: 280px;
    visibility: visible;
    opacity: 1;
    padding: 10px 50px;
    transform: translateY(-0%);
    transition: all 0.3s ease-in-out;
}

.pop-up-store-open-days-and-time a{
    color: var(--text-primary);
    font-size: 13px;
}

.store-hours-detail{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.store-timing {
    font-weight:600;
	font-size:15px;
	line-height:18px;
}

.store-hours-detail p{
    font-size: 14px;
    font-weight: 600;
}

.store-hours{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}

.store-hours p{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    /* margin-top: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold-current-day span{
    font-weight: 600;
}

.store-hours-detail a{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

@media only screen and (max-width: 480px){
    .near-store-container{
        max-width: 100vw;
        width: 100%;
    }
    .current-location-button{
        width: 50%;
        font-size: 12px;
        line-height: 18px;
    }

    .delivery-zip-button{
        width: 50%;
        font-size: 12px;
        line-height: 18px;
    }
}