.footer-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 40px 20px 40px;
    background-color: var(--footer-bg-color);
}

.footer-main-container.hide-whole-footer{
    display: none;
}

.footer-nav{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.footer-nav-link-heading {
    color: #fafafa;
    font-family: poppins, Sans-serif;
    font-size: var(--sub-section-size);
    line-height: var(--product-height);
    font-weight: var(--sub-section-weight);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0;
    word-spacing: 0;
    margin-bottom: 12px;
}

.footer-nav-items{
    font-size: var(--content-one-size);
    line-height: var(--product-height);
    font-weight: var(--content-two-weight);
    padding: 3px 10px 3px 0px;
    width: 120px;
}
p.footer-nav-items > a{
    line-height: 1px;
}

.footer-nav-items a{
    color: var(--footer-nav-items-color);
    text-decoration: none;
    line-height: 1px;
}

.footer-nav-items a:hover{
    color: #dfdfdf;
}

.footer-contact-section{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
    border-top: 1px solid var(--border-color);
    padding: 40px 0 0 0;
}

.footer-social-icon-and-near-store-details{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.social-icons{
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 0px 0 20px 0px;
}

.social-icons a img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
}

.rating-container{
    display: flex;
    padding: 20px 20px 16px 20px;
    background-color: #1F2123;
}

.rating-container img{
    width: 80px;
    height: 80px;
}

.rating-stars-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    color: var(--text-white);
}

.rating-stars-container h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.rating-stars-container p{
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.location-phone-main-container{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.icon-and-name{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.icon-and-name img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.icon-and-name a{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    color: #F3F5F8;
}

.icon-and-name a:hover{
    color: var(--orange-fill);
}

.footer-customer-care-and-about-furniture-mecca{
    display: flex; 
    gap: 20px;
    padding-left: 50px;
    justify-content: space-between;
}

/* Near by store styling */
.footer-nearby-store{
    display: flex;
    flex-direction: column;
}

.footer-nearby-store h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: var(--footer-nav-heading);
    margin-bottom: 20px;
}

.footer-nearby-store img{
    width: 250px;
    height: 118px;
    object-fit: cover;
}

.nearby-store-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.nearby-store-adress{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nearby-store-adress span{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-white);
}

.nearby-store-adress span:nth-child(2){
    gap: 15px;
}

.nearby-store-adress span p{
    font-size: 10px;
    color: var(--text-white);
    line-height: 12px;
}

.nearby-store-adress div{
    display: flex;
    flex-direction: column;
    color: var(--text-white);
}

.nearby-store-adress div a{
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.nearby-store-adress div p{
    font-size: 12px;
}

/* Near by store image styling end */

.footer-get-scoop-and-about{
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 40px;
}

.footer-get-the-scoop-main-section{
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.footer-get-the-scoop-main-section.show-footer-scoop{
    display: flex;
}

.footer-get-the-scoop-main-section h3{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-white);
    margin-bottom: 10px;
}

.footer-get-scoop-input-and-button{
    display: flex;
    width: 100%;
    gap: 10px;
}

.footer-get-scoop-input{
    display: flex;
    width: 55%;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: start;
    padding: 0 15px;
}

.footer-get-scoop-input input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.footer-get-scoop-input-and-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
    border: 1px solid var(--orange-fill);
    background-color: var(--orange-fill);
    color: var(--text-white);
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-get-the-scoop-main-section p{
    font-size: 14px;
    font-weight: 300;
    color: var(--text-white);
}

.footer-care-and-about-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-care-and-about{
    display: flex;
    flex-direction: column;
}


.footer-care-and-about h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: var(--footer-nav-heading);
    margin-bottom: 20px;
}

.footer-care-and-about-links{
    color: var(--text-white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
}

.footer-care-and-about-links:hover{
    color: var(--orange-fill);
}

.footer-rights-reserved-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #FFF;
    padding-top: 20px;
}

.footer-rights-reserved-container p{
    color: var(--text-white);
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.footer-rights-reserved-container a{
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
}

.footer-rights-reserved-container a:hover{
    color: var(--orange-fill);
}

.rating-stars{
    display: flex;
    gap: 10px;
}
.rating-stars img{
    width: 15px;
    height: 15px;
}

.empty-space-div{
    display: flex;
    width: 10%;
}

/* Footer second section Styling */
.footer-second-contant-section{
    display: flex;
    width: 100%;
    height: auto;
    /* border-top: 1px solid var(--border-color); */
    padding: 0px 0 35px 0;
}

/* Left Section Styling */
.footer-left-section{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.left-section-contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.left-section-social-icons-div{
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 40px;
}

.left-section-social-icons-div img{
    width: 25px;
    height: auto;
    object-fit: contain;
}

.footer-owner-tag{
    display: flex;
    width: 340px;
    height: 120px;
    padding: 20px;
    background-color: #1F2123;
    color: var(--text-white);
    border-radius: 5px;
    gap: 20px;
    cursor: pointer;
}

.footer-owner-tag img{
    width: 100px;
    height: auto;
    object-fit: contain;
}

.owner-tag-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
}

.owner-tag-name{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: var(--text-white);
}

.tag-rating-stars{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
}

.tag-rating-stars img{
    width: auto;
    height: auto;
    object-fit: contain;
}

.owner-tag-review{
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: var(--text-white);
}

.footer-left-contact-section{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
    justify-content: start;
}

.footer-left-contact-section span{
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.footer-left-contact-section span img{
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.footer-left-contact-section span p{
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-white);
}

.footer-left-contact-section > span > h1{
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-white);
    margin: 0;
    padding: 0;
}

.footer-left-contact-section span p a{
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-white);
    text-decoration: none;
}

.footer-left-contact-section span p:hover{
    color: #dfdfdf;
}

.footer-left-contact-section span p a:hover{
    color: #dfdfdf;
}

/* Footer-Nearest Store */
.left-section-location-section{
    display: flex;
    width: 50%;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.left-section-location-section h3{
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-white);
    margin-bottom: 30px;
}

.near-store-containt-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 12px;
}

.near-store-details-section {
    padding: 0 !important;
}

.footer-near-store-imaeg-shimmer {
    width: 220px;
    height: 140px;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
    border: 1px solid #f0f0f0;
}

.footer-near-store-imaeg-shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%; /* Start off-screen */
    height: 100%;
    width: 150%; /* Width of the shimmer gradient */
    background: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(240, 240, 240, 0) 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.footer-near-store-tel{
    font-size: var(--content-one-size) !important;
    line-height: var(--content-one-height) !important;
    font-weight: var(--content-two-weight) !important;
    color: var(--text-white) !important;
    text-decoration: none !important;
}

.appointment-and-outlet-div > a {
    text-decoration: none !important;
}

/* Right Section Styling */
.footer-right-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 40px;
    /* height: 120px; */
}

.footer-right-get-scoop{
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
}

.footer-right-get-scoop.show-footer-get-the-scoop{
    display: flex;
}

.footer-right-get-scoop h3{
    font-size: var(--section-size);
    line-height: var(--section-height);
    font-weight: var(--section-weight);
    color: var(--text-white);
    margin-bottom: 10px;
}

.footer-get-scoop-and-conditions{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.footer-get-scoop-input-search{
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
}

.footer-get-scoop-input-search input{
    background-color: var(--text-white);
    height: 40px;
    border: none;
    outline: none;
    color: var(--text-color);
    border-radius: 5px;
    width: 287px;
    padding: 15px;
    font-size: var(--content-one-size);
    line-height: var(--content-one-height);
    font-weight: var(--content-two-weight);
}

.footer-get-scoop-input-search button{
    background-color: var(--orange-fill);
    color: var(--text-white);
    height: 40px;
    width: 135px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
}

.footer-get-scoop-and-conditions p{
    font-size: var(--content-one-size);
    line-height: var(--content-one-height);
    font-weight: var(--content-two-weight);
    color: var(--text-white);
}

.footer-get-scoop-and-conditions p a{
    color: var(--text-white);
}

.right-section-care-and-about{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-costumer-care-and-about{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: start;
}

.footer-costumer-care-and-about h3{
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-white);
    margin-bottom: 30px;
}


/* .about-and-care-link{} */
.footer-costumer-care-and-about .about-and-care-link{
    font-size: var(--content-one-size);
    font-weight: var(--content-two-weight);
    line-height: var(--content-one-height);
    text-decoration: none;
    color: var(--text-white);
    margin-bottom: 8px;
    cursor: pointer;
}

.footer-costumer-care-and-about .about-and-care-link:hover{
    color: var(--orange-fill);
}

.mobile-view-footer-main-div{
    display: none;
}

.subscribtion_done_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribtion_done_1 img{
    height: 45px;
    width:  45px;
}
.subscribtion_done_1 p{
    margin: 0 0 0 10px;
    font-size: 21px;
    line-height: 24px;
    color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-left-section {
        width: 50%;
    }
    .left-section-contact {
        width: 100%;
    }
    .left-section-location-section {
        display: none !important;
    }
    .footer-right-section {
        width: 50%;
        padding-left: 0;
    }
    .footer-rights-reserved-container p {
        font-size: 12px;
    }
    .left-section-social-icons-div {
        gap: 15px;
    }
    .footer-left-contact-section {
        gap: 15px;
    }
    .footer-costumer-care-and-about h3 {
        margin-bottom: 15px;
    }
    .footer-costumer-care-and-about .about-and-care-link {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 844px) {
    .footer-main-container.hide-footer-on-cart {
        display: none;
    } 
}

@media only screen and (max-width: 767px){
    .footer-main-container{
        display: none;
    }

    

    .mobile-view-footer-main-div{
        display: flex;
    }
}